.card-img-top {
  object-fit: contain;
  max-width: 250px;
  max-height: 160px;
  width: auto;
  height: auto;
  margin: 10px;
}

.card {
  min-width: 230px;
  max-height: 400px;
  max-width: 250px;
  color: var(--bs-light);
  box-shadow: var(--box-shadow-light);
  transition: all 300ms;

  .pokemon-no {
    position: absolute;
    left: 6px;
    top: 6px;
    color: black;
    font-size: smaller;
  }

  &:hover {
    transform: scale(1.1);
    transition: all 300ms;
  }

  .card-footer {
    -webkit-text-stroke: 0.7px #f8f8f8;
    text-shadow: 1px 1px 2px #23430c;
  }

  .icon-favorite {
    color: var(--bs-light);
    font-size: 1.5em;
    position: absolute;
    bottom: 30px;
    right: 12px;
    cursor: pointer;
    transition: all 300ms;

    &:hover {
      font-size: 1.7em;
      bottom: 28px;
      right: 10px;
      transition: all 300ms;
    }
  }
}

.col-pokemon-card {
  display: flex;
}
