<div class="row">
  @for (pokemon of pokemons; track pokemon.id) {
    <div
      class="col col-sm-6 col-md-4 col-lg-3 justify-content-center col-pokemon-card"
    >
      <div class="card mb-5 text-start">
        <i class="pokemon-no">#{{ pokemon.id }}</i>
        <img
          class="card-img-top"
          src="{{ pokemon.image }}"
          alt="{{ pokemon.name }}"
          title="{{ pokemon.name }}"
        />
        <div
          class="card-footer mt-auto"
          [style.background]="getTypeGradient(pokemon)"
        >
          <h5 class="card-title">{{ pokemon.name }}</h5>
          <i
            class="icon-favorite pull-right {{
              pokemon.isFavorite ? 'bi-heart-fill' : 'bi-heart'
            }}"
            (click)="toggleFavorite(pokemon)"
            title="{{
              !pokemon.isFavorite ? 'Add to favorites' : 'Remove from favorites'
            }}"
          ></i>

          <p class="card-text">{{ pokemon.types.join(", ") }}</p>
        </div>
      </div>
    </div>
  } @empty {
    <h3 class="mb-5">
      No Pokemons were found by these filters. Please try to set a different set
      of filters.
    </h3>
  }
</div>
