<div class="container mb-5 filters-container">
  <form [formGroup]="filterParameters">
    <div class="row filters">
      <div class="col-sm-6 col-md-4">
        <div class="mb-3">
          <input
            id="typeahead-basic"
            type="text"
            class="form-control"
            formControlName="name"
            placeholder="Start typing a name"
            [ngbTypeahead]="searchName"
          />
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <select
          class="form-select form-control"
          aria-label="Type Select"
          formControlName="type"
        >
          <option value="" disabled selected>Filter by type</option>
          <option [ngValue]="undefined">All Types</option>
          @for (type of types; track type) {
            <option [value]="type">{{ type }}</option>
          }
        </select>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3 text-center">
        <div class="form-check form-switch mt-2">
          <label class="form-check-label text-xs" for="favorites-only"
            >Favorites Only</label
          >
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="favorites-only"
            formControlName="favoritesOnly"
          />
        </div>
      </div>
      <div class="col-1 text-center"></div>
    </div>
  </form>
</div>
