.filters {
  background-color: var(--bs-white);
  border-radius: 5px;
  padding: 1.2em;
  padding-top: 1.7em;
  margin-top: 0.5em;

  box-shadow: var(--box-shadow-light);

  .form-switch {
    padding-left: 0;
  }

  .form-check {
    margin-top: 4px;
    margin-bottom: 10px;

    .form-check-label {
      font-size: 1rem;
    }

    .form-check-input {
      font-size: x-large;
      margin-left: 0;
      margin-top: 0px;
      user-select: none;
    }
  }
}
