/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600;700&family=Syne:wght@400;700;800&display=swap");
@import "ngx-toastr/toastr";
@import "ngx-toastr/toastr-bs5-alert";

:root {
  --bs-body-font-family: "Montserrat", sans-serif;
  --box-shadow-light: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

html,
body,
.container {
  background-color: var(--bs-light);
}

.dropdown-btn {
  @extend .form-control;
  border-color: var(--bs-border-color) !important;
}
